@model MovieStoreMvc.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Movie</label>
                <select class="form-control" id="movie" name="movie" asp-items="ViewBag.Movie">
                    <option value="" hidden>-- Chọn phim --</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Cinema</label>
                <select class="form-control" id="cinema" name="cinema" asp-items="ViewBag.Cinema">
                    <option value="" hidden>-- Chọn rạp --</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Ngày</label>
                <select class="form-control" id="date" name="date" asp-items="ViewBag.Date">
                    @* <option value="" hidden>-- Chọn ngày --</option> *@
                </select>
            </div>

            <div class="form-group d-none" id="showtimes-block">
                <label class="control-label">Lịch chiếu</label>
                <select class="form-control" id="showtimes" name="showtimes">
                    <option value="" hidden>-- Chọn lịch chiếu --</option>
                </select>
            </div>

            @* <div class="form-group d-none" id="seat-block">
                <label class="control-label">Seat</label>
                <select class="form-control" id="seat" name="seat">
                    <option value="" hidden>-- Chọn Seat --</option>
                </select>
            </div> *@

            <div class="form-group d-none" id="seat-block">
                <label class="control-label">Seat</label>
                <div id="seat" name="seat"></div>
            </div>

            <div class="form-group d-none" id="price-block">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" readonly />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $("#movie,#cinema,#date").on("change", function () {
                var movie = $('#movie').val();
                var cinema = $('#cinema').val();
                var date = $('#date').val();
                if (movie != "" && cinema != "") {
                    $("#showtimes-block").removeClass("d-none");

                    $.ajax({
                        type: 'GET',
                        url: 'GetShowtimes?movie=' + movie + '&cinema=' + cinema + '&date=' + date,
                        success: function (data, status, xhr) {

                            $("option.showtimes-option").remove();
                            $.each(data, function (index, value) {
                                $("#showtimes").append('<option class="showtimes-option" value="' + value.id + '">' + value.showtimes + '</option>');
                            });
                        }
                    });
                }
            });
            $("#showtimes").on("change", function () {
                var showtimesId = $('#showtimes').val();
                $("#seat-block").removeClass("d-none");

                $.ajax({
                    type: 'GET',
                    // dataType: "json",
                    url: 'GetSeats?showtimesId=' + showtimesId,
                    success: function (data, status, xhr) {
                        var firstChar = "A";
                        $.each(data, function (index, value) {
                            if (value.position.charAt(0) != firstChar) {
                                $("#seat").append('<br>')
                            }
                            firstChar = value.position.charAt(0);
                            if (value.isorder == null) {
                                $("#seat").append('<span class="border border-1 text-white text-center bg-danger seat-option" data-id="' + value.position + '" style="display:inline-block;width:50px">' + value.position + '</span>');
                            } else {
                                $("#seat").append('<span class="border border-1 text-white text-center bg-secondary seat-option" data-id="' + value.position + '" style="display:inline-block;width:50px">' + value.position + '</span>');

                            }
                                
                        });
                    }
                });
            });


            var SeatPositions = []
            $(document).on("click", ".seat-option", function () {

                var showtimesId = $('#showtimes').val();
                $("#price-block").removeClass("d-none");
                $(this).toggleClass("bg-danger").toggleClass("bg-warning");

                var seatId = $(this).data("id");
                if (SeatPositions.includes(seatId)) {
                    SeatPositions = SeatPositions.filter(id => id !== seatId);
                } else {
                    SeatPositions.push(seatId);
                }

                var Ids = SeatPositions.join(',')

                $.ajax({
                    type: 'GET',
                    url: 'GetPrice?showtimesId=' + showtimesId + '&SeatPositions=' + Ids,
                    success: function (data, status, xhr) {

                        $('#Price').val(data);

                    }
                });

            });



        });

    </script>

}
